body {
    text-align:center;
    font-family: sans-serif;
    font-weight: bold;
}

h1{
    font-family: 'Gluten', cursive;
    color: #66BFBF;
}
h2{
    font-family: 'Pacifico', cursive;
    color: #66BFBF;
}

h3{
    color: #66BFBF;
}

.top{
    background-color:#EAF6F6;
    padding-top:60px;
}

.profile{
    margin: 100px auto 100px auto;
}

.contact-me{
    margin: 100px auto 100px auto;
}

.bottom-container{
    background-color:#66BFBF;
    height: 200px;
}

.footer-link{
    position:relative;
    top:75px;
    margin-right:30px;
}

.top-cloud{
    position:relative;
    left:250px;
    top:0px;
}

.bottom-cloud{
    position:relative;
    left:50px;
    top:-350px;
}

.left-mountain{
    position:relative;
    left:-40px;
}

.skill-row{
     width: 50%;
     margin: 100px auto 100px auto;
     text-align: left;
     line-height: 2;
}

.skill-image1{
    width:25%;
    float: left;
}

.skill-image2{
    width:25%;
    float: right;
}

.skill-text1{
    position: relative;
    left: 30px;
    top:10px;
}
.skill-title1{
    position: relative;
    left: 30px;
    top:10px;
}

.skill-text2{
    position: relative;
    right: 30px;
    top:10px;
}
.skill-title2{
    position: relative;
    right: 30px;
    top:10px;
}

.hr-style{
    background-color: #fff;
	border-top: 2px dashed #8c8b8b;
	width: 10%;
}
